@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  font-family: 'Roboto', sans-serif;
}

label {
  display: block;
  font-size: 13px;
}

input {
  margin: 5px 0px;
  padding: 7px 0px;
  border-radius: 4px;
  border: solid 1px #ccc;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  padding: 5px;
  box-sizing:border-box;
  display: inline-block;
}

.error {
  border-color: red;
}