<div class="id" *ngIf="cartucho.id != null">Id: {{ cartucho.id }}</div>

<form (ngSubmit)="salvarCartucho()" #formCartucho="ngForm">
  <div>
    <ui-text-field label="Descrição"
        [(ngModel)]="cartucho.descricao"
        [required]="true"
        name="descricao"
        minlength="5"
        maxlength="10"></ui-text-field>
  </div>
  <div>
    <ui-checkbox label="Ativo"
        [(ngModel)]="cartucho.ativo"
        name="ativo"></ui-checkbox>
  </div>
  <ui-btn type="success" [disabled]="formCartucho.invalid || formCartucho.pristine">
    Salvar <ui-spinner color="white" size="5" *ngIf="saving"></ui-spinner>
  </ui-btn>
  <ui-btn type="error" [notSubmit]="true" routerLink="../grid">Voltar</ui-btn>
</form>
