<form (ngSubmit)="autenticar()" #formLogin="ngForm">
  <ui-card title="Login" dw="4" dm="4">
    <div class="content">
      <div><ui-text-field
          label="Usuário"
          dw="12"
          [(ngModel)]="usuario.login"
          name="login"
          [required]=true></ui-text-field></div>
      <div><ui-text-field
          type="password"
          label="Senha"
          dw="12"
          [(ngModel)]="usuario.senhaPlana"
          name="senhaPlana"
          [required]=true></ui-text-field></div>
    </div>
    <div class="footer">
      <ui-btn [disabled]="formLogin.invalid">
        Login <ui-spinner color="blue" *ngIf="showSpinner" size="5"></ui-spinner>
      </ui-btn>
    </div>
  </ui-card>
</form>
