@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  font-family: 'Roboto', sans-serif;
}

.pagination {
  padding: 0px;
}

.item {
  display: inline-block;
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 8px 16px;
  margin-left: -1px;
  font-size: 18px;
  color: #05f;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.item:hover:not(.nolink):not(.active) {
  background-color: #d9e9f9;
  cursor: pointer;
}

.start {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.end {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.active {
  color: #d9e9f9;
  background-color: #05f;
}